.pagination { font-size: 1.2em; text-align: center; font-family: 'LandRoverWeb-Bold'; color: #7d7d7d; margin-top:20px; }
.pagination span a, .pagination .current { border: 2px solid #cea900; display: inline-block; color: #cea900; text-decoration: none; padding: 0 5px;}
.pagination span a:hover, .pagination .current { background: #7d7d7d; border: 2px solid #7d7d7d; color: #fff; }
.pagination span.prev, .pagination span.next { color: #7d7d7d;}
.pagination .prev { margin: 0 5px 0 15px; background: none; }
.pagination .next { margin: 0 0 0 5px; background: none; }

.pagination a.prev,  .pagination a.next { color: #cea900; text-decoration: underline; padding: 0; }
.pagination a.prev:hover,  .pagination a.next:hover { background: none; text-decoration: none}

.date { font-size: 1.2em; font-family: 'LandRoverWeb-Bold'; color: #7d7d7d; }

img.align-left { margin: 5px 10px 5px 0px; }
img.align-right { margin: 5px 0px 5px 10px; }