/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.3
*/


.owl-theme .owl-controls{
	
}



.owl-controls .owl-buttons div {
	position: absolute;
}




/* Styling Pagination*/

.owl-theme .owl-controls .owl-page {
	display: inline-block;
	zoom: 1;
	*display: inline;/*IE7 life-saver */
}

.owl-theme .owl-controls .owl-page span {
	display: block;
	width: 17px;
	height: 17px;
	border-radius: 50%;
	margin: 0 3px;
	border: 2px solid #4d5459;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
	border: 2px solid #cea900;
}



/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers {
	height: auto;
	width: auto;
	color: #FFF;
	padding: 2px 10px;
	font-size: 12px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

/* preloading images */
.owl-item.loading  {
	background: url('../../img/preloader.png') no-repeat center center;
	min-height: 300px;
}

.owl-item img  { display: block; max-width: 100%; height: auto;}


@media (max-width: 480px) {
	.owl-theme .owl-controls { bottom: 5px; right: 5px;}
}